@import url('https://fonts.googleapis.com/css?family=Muli|Nunito|Lora&display=swap');

.font-nunito {
    font-family: nunito;
}

div {
    font-size: 1.5rem;
    font-family: 'Cambria,"Times New Roman",Times,serif',serif;

}